# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data & outputs
data/raw/
data/interim/
data/processed/
**/outputs/
**/models/
**/figures/

# Env / secrets
.env

# OS
.DS_Store
Thumbs.db
